/src

# IntelliJ
*.iml
*.ipr
*.iws
/.idea/
atlassian-ide-plugin.xml

# typings
/typings
typings.json

# testing
karma.conf.js
karma.debug.js
karma.tests.js
/coverage
.travis.yml

# demo
/demo
devserver-config.json
/webpack/
tslint.json

#Github page
/docs

#local
*.tgz
.npmignore

#typescript sources
*.ts
*.js.map
!*.d.ts
tsconfig.json
