@import '../../common/variables';
.btn-primary {
  background-color: white;
  color: @red-color;
  border: 1px solid @red-color;
  &:hover {
    background-color: #FFEFEF;
  }
}
.btn-default {
  color: @table-color;
  &:hover {
    background-color: #F5F4F4;;
  }
}
.modal-title {
  font-size: 22px;
  font-weight: lighter;
}
.close {
  font-size: 32px;
  font-weight: lighter;
}