@import '../../common/variables';

.table {
	font-size: 13px;
}
.calendar-col {
	margin-right: 10px;
}

table  {border-collapse:collapse;border-spacing:0;}
table td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
table th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}

.empty { background-color: pink; }
.normal { background-color: lightgray; }
.today { border: 5px gold; }

.startdate { color: red; }
.enddate { color: blue; }
.between { color: turquoise ; }
.disabled { background-color: pink; }
